:root {
	--color-scale-1: rgba(22, 27, 34, .41);
	--color-scale-2: rgb(14, 68, 41);
	--color-scale-3: rgb(0, 109, 50);
	--color-scale-4: rgb(38, 166, 65);
	--color-scale-5: rgb(57, 211, 83);
	--square-size: 15px;
	--square-gap: 5px;
	--week-width: calc(var(--square-size) + var(--square-gap));
}

.months {
	display: grid;
	grid-template-columns: calc(var(--week-width) * 3) calc(var(--week-width) * 2.4) calc(var(--week-width) * 3) calc(var(--week-width) * 2.4) calc(var(--week-width) * 2.4) calc(var(--week-width) * 3) calc(var(--week-width) * 2.4) calc(var(--week-width) * 2.9) calc(var(--week-width) * 2.6) calc(var(--week-width) * 2.3) calc(var(--week-width) * 3) calc(var(--week-width) * 1)
}

#contribution-wrapper {
	display: inline-grid;
	grid-template-areas: "empty months"
		"days squares";
	grid-template-columns: auto 1fr;
	grid-gap: 4px 6px;
	font-size: 10px;
}

.months {
	grid-area: months;
}

.days {
	grid-area: days;
	display: grid;
	margin-top: 11px;
	display: none
}

#contribution-grid {
	grid-area: squares;
}

body {
	background-color: rgb(255, 255, 255);
}

#contribution-grid {
	display: grid;
	gap: 2px;
	grid-auto-flow: column;
	grid-template-rows: repeat(7, 11px);
	justify-content: start;
}

.cell {
	background-color: #ebedf0;
	block-size: 10px;
	border-radius: 2px;
	inline-size: 10px;
	border: .5px solid #ffffff0d;
}

.wrapperAll {
	padding: 20px;
	border: 1px #e1e4e8 solid;
	margin: 6px 0;
}

.title {
	font-weight: bold;
}

.wrapperMob {
	overflow-x: auto;
	width: inherit;
}
